/*******************************
*********** GENERAL ************
********************************/

.pack-a,
.silicone,
.empty {
    display: none;
}

.visible {
    display: block;
}

.title_pack {
    font-size: 2em;
    text-align: center;
    width: 25%;
    background-color: #1b1f51;
    color: aliceblue;
    border-radius: 30px 30px 30px 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
}

.column {
    width: 20%;
    margin: 50px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.pack-a .column {
    width: 25%;
    margin: 50px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card {
    max-width: 90%;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.card img {
    width: 66%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.card h1 {
    font-size: 25px;
}

.price {
    color: #625E5E;
    font-size: 1.9em;
    font-weight: bold;
    margin: 10px 0 10px 0;
}

.card ul {
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #FCAC22;
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
    border-radius: 15px 15px 0 15px;
    margin-bottom: 25px;
}

.card button:hover {
    border: 1px solid rgb(71, 199, 75);
    background: rgb(71, 199, 75);
}


/* Float for columns side by side */

.discibe1 {
    color: grey;
}

.discibe2 {
    color: grey;
}